{% extends 'base.html' %}

{% block page_content %}
	<div class="page-header">
		<h1>{{ user.username }}</h1>
        {% if current_user == user %}
            <a href="{{ url_for('.edit_profile') }}">
                修改个人资料
            </a>
        {% endif %}

        {% if current_user.is_administrator() %}
            <a href="{{ url_for('.edit_profile_admin', id=user.id) }}">修改用户信息</a>
        {% endif %}

        {% if user.name or user.location %}
        <p>
            {% if user.name %}
                {{ user.name }}
            {% endif %}


            {% if user.location %}
                来自<a href="http://map.google.com/?q={{ user.location }}">
                {{ user.location }}
                </a>
            {% endif %}
        </p>
        {% endif %}

        {% if current_user.is_administrator() %}
            <p>
                <a href="mailto:{{ user.email }}">
                    {{ user.email }}
                </a>
            </p>
        {% endif %}

        {% if user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}

        <p>
            注册时间:{{ moment(user.member_since).format('L') }}
            最后访问时间:{{ moment(user.last_seen).fromNow(refresh=True) }}
        </p>

        <h3>发表的文章</h3>
        {% include 'main/_posts.html' %}
	</div>
{% endblock %}main/_posts.html